@import 'src/variables';

.sw-characters-card {
    width: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));

    &__tile {
        background-color: $base-background-color-light;
        border-radius: 10%;
        border: 2px solid $base-color;

        &__link {
            display: flex;
            flex-wrap: wrap;
            text-decoration: none;

            &__image-wrapper {
                width: 100%;
                border-radius: 10% 10% 0 0;
                overflow: hidden;
                border-bottom: 3px solid $base-color;
                transition: all 0.3s linear;
                aspect-ratio: 8/11;
                background-color: $base-background-color;

                &__display-spinner {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                }

                &__hide-spinner {
                    display: none;
                }

                &__hide-img {
                    visibility: hidden;
                }

                & img {
                    width: 100%;
                    height: 100%;
                    transition: all 0.3s linear;
                }
            }

            &__text {
                width: 100%;
                text-align: center;
                color: $base-color;
                transition: all 0.3s linear;

                &:hover {
                    color: $base-color-light;
                }
            }
        }
    }

    &:hover &__tile__link__image-wrapper {
        border-bottom: 3px solid $base-color-light;

        & img {
            transform: scale(1.2);
        }
    }

    &:hover &__tile__link__text {
        color: $base-color-light;
    }
}