@import 'src/variables';

.sw-container {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: 25px;
}