@import 'src/variables';

.sw-container {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 25px;

    &__rows-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        height: 100%;
    }
}