$base-color: #b5b7b7;
$base-color-light: #f8f8f8;
$base-background-color: #0a0b0b;
$base-background-color-light: #1d1e1f;
$xlarge-bp: 1280px;
$large-bp: 1080px;
$medium-bp: 880px;
$small-bp: 720px;
$xsmall-bp: 600px;
$header-minheight: calc(100vh - 40px);
$header-mobile-minheight: 0px;
$header-mobile-height: 140px;
$container-mobile-height: 600px;
$footer-height: 40px;
